
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />    
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
    
</head>
<body>
    <div style="width:90%; margin:0 auto"class="tablecontainer">
        <a class="popup btn btn-primary"href="/Employee/Save/0" style="margin-bottom:20px;margin-top:20px">Add new Employee</a>
        <table id="employeeTable" class="display-1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>

        </table>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    @*to getdata from Database*@

    <script>
        $(document).ready(function () {
            var Table= $('#employeeTable').DataTable({
                "ajax": {
                    "url": '/Employee/GetData',
                    "type": "Get",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Name" ,"autowidth":true},
                    { "data": "Position", "autowidth": true },
                    { "data": "Office", "autowidth": true },
                    { "data": "Age", "autowidth": true },
                    { "data": "Salary", "autowidth": true },
                    { "data": "EmployeeID", "autowidth": "50px", "render": function (idd) { return '<a class="popup"href="/Employee/Save/' + idd + '">Edit</a>' } },
                    { "data": "EmployeeID", "autowidth": "50px", "render": function (idd) { return '<a class="popup" href="/Employee/Delete/' + idd + '">Delete</a>' } },

                ]
            });

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            });

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobstrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen:  false,
                    resizable: false,
                    model: true,
                    title: 'popup Dialaog',
                    height: 550,
                    width: 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })
                //submit form using ajax jquery
                $('popupWindow').on('submit', '#popupForm', function (e) {
                    var Url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: Url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                Table.ajax.reload();
                            }
                        }
                    });
                    e.preventDefault();
                });
                $dialog.dialog('open');
                
            }
            
        });

    </script>
</body>
</html>
